{% extends 'base.html' %}
{% load static %}
{% block content %}


      {% for item in cvs %}
      <div class="entry">
        <!-- Begin Image -->
        <img class="portrait" src="{{ item.img.url }}" height="250" width="200" />
        <!-- End Image -->
        <!-- Begin Personal Information -->
        <div class="self">
            <ul class="name">
                <h2 >{{ item.name }}<br /></h2>
            </ul>


          <ul>
              <br>
            <li class="mail">{{ item.email}}</li>
            <li class="tel">{{ item.phone_number}}</li>
            <li class="web">{{ item.git_hub_link}}</li>

          </ul>
        </div>
        <!-- End Personal Information -->
        <!-- Begin Social -->
        <div class="social">
          <ul>
            <li><a class='north' href="{% url 'cv:pdf' %}" title="Download .pdf"><img src="{% static 'blue/images/icn-save.jpg' %}" alt="Download the pdf version" /></a></li>
          </ul>
        </div>
        <!-- End Social -->
      </div>
      <!-- Begin 1st Row -->
      <div class="entry">
        <h2>OBJECTIVE</h2>
        <p>{{ item.summary }}</p>
      </div>
      <!-- End 1st Row -->
      <!-- Begin 2nd Row -->
      <div class="entry">
        <h2>EDUCATION</h2>
        <div class="content">
          <p><p>{{ item.education}}</p><br />
        </div>
      </div>
      {% endfor %}
      <div class="entry">
        <h2>CERTIFICATIONS</h2>
        <div class="content">
            {% for items in Certification %}
            <ul class="skills">
                <p>{{ items.certifications }}</p>
                <p>Verify: {{ items.Verify }}</p>
            </ul>
            {% endfor %}
        </div>
      </div>
      <div class="entry">
        <h2>COURSES</h2>
        <div class="content">
            {% for items in courses %}
            <ul class="skills">
                <p>{{ items.course_name }}</p>
                <p></p>
            </ul>
            {% endfor %}
        </div>
      </div>
      <hr class='hrItem' />
      <div class="entry">
        <h2>SKILLS</h2>
        <div class="content">
          {% for items in skills %}
          <ul class="skills">
              <li>{{ items.skill }}</li>
          </ul>
          {% endfor %}
      </div>
{% endblock %}
