{% extends 'base.html' %}

{% block content %}

<main role="main">
    <div class="container">

      <h3 class="text-center">{{ object.name }}</h3>
      <div class="col-2 mx-auto">
          <img src="{{ object.img.url }}" class="border border-primary img-fluid" height="200" width="200">
      </div>
      <h5 class="text-center">{{ object.title }}</h5>
      <p class="text-center">Summary: <br>{{ object.summary }}</p>

      <hr class='hrItem' />
      <h6>CONTACT INFORMATION:</h6>
      <p>Email: {{ object.email}}</p>
      <p>Phone Number: {{ object.phone_number}}</p>
      <p>Git Hub Link: {{ object.git_hub_link}}</p>
      <hr class='hrItem' />
      <h6>PERSONAL INFORMATION:</h6>
      <p>Data of Birth: {{ object.date_of_birth }}</p>
      <p>Marital Status : {{ object.marital_status }}</p>
      <p>Nationality : {{ object.nationality }}</p>
      <p>Military Status : {{ object.military_status}}</p>
      <hr class='hrItem' />
      <h6>EDUCATION:</h6>
      <p>{{ object.education}}</p>

      <hr class='hrItem' />
      <h6>CERTIFICATIONS:</h6>
      {% for items in objects %}
      <p>{{ items.certifications }}</p>
      <p>Verify: {{ items.Verify }}</p>
      {% endfor %}
      <hr class='hrItem' />
      <br>
      <h6>COURSES:</h6>
      {% for items in courses %}
      <ul>
          <li>{{ items.course_name }}</li>
      </ul>
      {% endfor %}
      <hr class='hrItem' />
      <h6>TECHNICAL SKILLS:</h6>
      {% for items in skills %}
      <ul>
          <li>{{ items.skill }}</li>
      </ul>
      {% endfor %}



  </div>
</main>


{% endblock %}
