{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Resume</title>
<link type="text/css" rel="stylesheet" href="{% static 'blue/css/blue.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'blue/css/print.css' %}" media="print"/>
<!--[if IE 7]>
<link href="css/ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript" src="{% static 'blue/js/jquery-1.4.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'blue/js/jquery.tipsy.js' %}"></script>
<script type="text/javascript" src="{% static 'blue/js/cufon.yui.js' %}"></script>
<script type="text/javascript" src="{% static 'blue/js/scrollTo.js' %}"></script>
<script type="text/javascript" src="{% static 'blue/js/myriad.js' %}"></script>
<script type="text/javascript" src="{% static 'blue/js/jquery.colorbox.js' %}"></script>
<script type="text/javascript" src="{% static 'blue/js/custom.js' %}"></script>
<script type="text/javascript">
		Cufon.replace('h1,h2');
</script>
</head>
<body>
<!-- Begin Wrapper -->
<div id="wrapper">
  <div class="wrapper-top"></div>
  <div class="wrapper-mid">
    <!-- Begin Paper -->
    <div id="paper">
      <div class="paper-top"></div>
      <div id="paper-mid">
        <div class="entry">
          <!-- Begin Image -->
          <img class="portrait" src="{{ object.img.url }}" height="250" width="200" />
          <!-- End Image -->
          <!-- Begin Personal Information -->
          <div class="self">
            <h1 class="name">{{ object.name }}<br />
              <span>{{ object.title }}</span></h1>
            <ul>
              <li class="mail">{{ object.email}}</li>
              <li class="tel">{{ object.phone_number}}</li>
              <li class="web">{{ object.git_hub_link}}</li>
            </ul>
          </div>
          <!-- End Personal Information -->
          <!-- Begin Social -->
          <div class="social">
            <ul>
              <li><a class='north' href="{% url 'cv:pdf' %}" title="Download .pdf"><img src="{% static 'blue/images/icn-save.jpg' %}" alt="Download the pdf version" /></a></li>
            </ul>
          </div>
          <!-- End Social -->
        </div>
        <!-- Begin 1st Row -->
        <div class="entry">
          <h2>OBJECTIVE</h2>
          <p>{{ object.summary }}</p>
        </div>
        <!-- End 1st Row -->
        <!-- Begin 2nd Row -->
        <div class="entry">
          <h2>EDUCATION</h2>
          <div class="content">
            <p><p>{{ object.education}}</p><br />
          </div>
        </div>
        <!-- End 2nd Row -->
		<div class="entry">
		  <h2>CERTIFICATIONS</h2>
		  <div class="content">
			  {% for items in Certification %}
			  <ul class="skills">
				  <p>{{ items.certifications }}</p>
			      <p>Verify: {{ items.Verify }}</p>
			  </ul>
			  {% endfor %}
		  </div>
		</div>
		<div class="entry">
		  <h2>COURSES</h2>
		  <div class="content">
			  {% for items in courses %}
			  <ul class="skills">
				  <li>{{ items.course_name }}</li>
			  </ul>
			  {% endfor %}
		  </div>
		</div>
        <!-- Begin 4th Row -->
        <div class="entry">
          <h2>SKILLS</h2>
          <div class="content">
			{% for items in skills %}
            <ul class="skills">
				<li>{{ items.skill }}</li>
	        </ul>
			{% endfor %}
          </div>
        </div>
        <!-- End 4th Row -->
      </div>
      <div class="clear"></div>
      <div class="paper-bottom"></div>
    </div>
    <!-- End Paper -->
  </div>
  <div class="wrapper-bottom"></div>
</div>
<div id="message"><a href="#top" id="top-link">Go to Top</a></div>
<!-- End Wrapper -->
</body>
</html>
